/* @import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&family=BenchNine:wght@300&family=Merienda:wght@700&family=News+Cycle&family=Nunito:ital,wght@0,200;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  color: #ffff;
  font-family:"Space Grotesk", sans-serif;
}
p{
  color: rgba(243, 230, 230, 0.966);
   font-family: "Karla", sans-serif;
  line-height: 24px;
}
a h1{
  color: black;
}
.loader {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  animation: l14 4s infinite;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: red red #0000 #0000;
  mix-blend-mode: darken;
  animation: l14 1s infinite linear;
}
.loader::after {
  border-color: #0000 #0000 blue blue;
  animation-direction: reverse;
}
@keyframes l14{ 
  100%{transform: rotate(1turn)}
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-fadeIn {
    animation: fadeIn 0.4s ease forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


